/* Space out content a bit */

@import url(http://weloveiconfonts.com/api/?family=entypo|zocial);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
.facebook{ 
background-color: transparent;
border:#fff 1px solid;}

.gplus{
background-color: transparent;
border:#fff 1px solid;}

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-style: normal;
}

[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
  font-style: normal;
}
i {margin-right:1vh;}
.social > a{
  margin-top:1vh;
  display:inline-block;
  padding:5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius:5px;
  
  text-decoration:none;
  color:white;
  transition:opacity 0.3s;
}

.social > a:hover {
  background-color: #fff;
  
  color:#aaa;
  cursor:pointer;
}

.social {text-align:center;}

.jumbotron{

 //text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);

 color:#fff;
 background-color:#2F353E;
 background:url('bg.jpg') no-repeat center center fixed;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }



.contaner{
 
}

body {
  padding-top: 0px;
  padding-bottom: 20px;
  
  
}

.btn-outline-inverse {
color: #fff;
background-color: transparent;
border-color: #fff;
}.btn-outline-inverse:hover {
  background-color: #fff;
  
  color:#aaa;
  cursor:pointer;
  
 
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
#signin-btn{
  cursor: pointer;
  color:#ddd;
font-size: 14px;
float:right;
margin-top: 20px;
margin-right:50px;
}#signin-btn:hover{
  text-decoration: none;
}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.main{
 
}



.project{
  border-radius: 5px;
  margin-top:20px;
  padding:20px;
  background-color:#fff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.about-me{

  color:#666;
  margin-top:20px;
  padding:20px;
 
}